
/**
 *  @author Iceli
 *  @date  2013/06/27
 *  @desc  veryeast.cn最佳东方基础样式base.css
 */

/* start reset */
body,
form,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
address,
em,
img,
q,
hr,
strong,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
label,
table,
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

li {
  list-style: none;
}
img {
  vertical-align: top;
}
em,
i {
  font-style: normal;
}

html {
  overflow-y: scroll;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  color: #333;
  background-color: #fbfbfb;
  font: 12px/20px '宋体', Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #2a7acc;
  cursor: pointer;
  outline: none;
}

a:hover {
  text-decoration: underline;
}

a.undernone {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

input,
button,
select,
textarea {
  outline: none;
  margin: 0;
  padding: 0;
  resize: none;
  vertical-align: middle;
  font: 12px/20px '宋体', Arial, Helvetica, sans-serif;
}
input {
  height: 20px;
}

/*input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom;}
.ie7 input[type="checkbox"] {vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}*/

.header input[type='text'],
input[type='password'] {
  border: 1px solid #d8d8d8;
  width: 180px;
  height: 24px;
  line-height: 24px;
  padding: 0 4px;
}
.input-ie6,
.dropBtn,
textarea {
  border: 1px solid #d8d8d8;
  width: 180px;
  height: 24px;
  line-height: 24px;
  padding: 0 4px;
}

/* end reset */

/* start public */
.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}